{% extends 'base.html.twig' %}

{% block title %}Compras{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <a href="{{ path('app_gasto_new') }}" class="btn btn-primary">Registrar una nueva compra</a>

    <hr>

    <table>
        <thead>
            <tr>
                <th>FECHA</th>
                <th>CANTIDAD</th>
                <th>PROVEEDOR</th>
                <th>FACTURA</th>
                <th>ACCIONES</th>
            </tr>
        </thead>

        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{ compra.fecha|date("m/d/Y") }}</td>
                    <td>{{ compra.cantidad|format_currency('EUR') }}</td>
                    <td>{{ compra.proveedor.nombre }}</td>
                    {% if compra.factura %}
                        <td>A</td>
                    {% else %}
                        <td>B</td>
                    {% endif %}
                    <td><a href="{{ path('app_gasto_edit', { 'id': compra.id }) }}" class="btn btn-primary">MODIFICAR</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
